<p>
  <strong>Title:</strong>
  <%= @article.title %>
</p>

<p>
  <strong>Text:</strong>
  <%= @article.text %>
</p>

<h2>Comments</h2>
<%= render @article.comments %>

<h2>Add a comment:</h2>
<%= render 'comments/form' %>

<%= link_to 'Edit Article', edit_article_path(@article) %> |
<%= link_to 'Back to Articles', articles_path %>

<% if current_user && current_user.editor? %>
<p class="article-edit">
  <%= link_to "Edit Article", edit_article_path(@article.id) %>
</p>
<% end %>

<% if current_user && current_user.admin? %>
<p class="article-delete">
  <%= link_to "Delete", article_path(@article), method: "delete" %>
</p>
<% end %>